@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;
$container-max-width: 750px;

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
      @content;
  }
}

@media (max-width: 420px) {
  .title-section h1, .title-section h2 {
    display: none;
  }

  .logo {
  margin-right: 0px !important;
  }

  section img {
    max-width: 100% !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $body-background;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/
header {
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-bottom: 20px;
  
}

header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 750px;
  border-bottom: 1px solid #1c1917; //header;
  padding: 20px;
  margin: 0px 0px 0px 0px;
}

header .title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  ;
}

header h1 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 0 0px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  @include media-max-width($container-max-width) {
    margin-left: 0;
  }
}


header h1:before {
  content: "";
  font-size: 24px;
}


header .header-container h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
  margin: 0; /* Ensure no margin affects the alignment */
  align-self: center; /* Ensure vertical alignment */
}

.logo {
  display: inline-flex;
  width: 150px; /* Make the logo 25% of its container's width */
  height: auto;
  
  margin-right: 20px; /* Adjust spacing as needed */
}


/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 50%;
  margin: 15px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  text-align: center;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
  text-align: left;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul {
  list-style: none; /* Remove default list style */
  padding-left: 0; /* Remove default padding */
}

ul li {
  margin-bottom: 10px; /* Add space between list items if needed */
  padding-left: 30px; /* Add padding to make space for the image */
  position: relative; /* Ensure positioning context for the pseudo-element */
}

ul li:before {
  content: ''; /* Pseudo-element content */
  position: absolute; /* Position relative to the list item */
  left: 0; /* Align with the left edge of the list item */
  width: 24px; /* Desired width */
  height: 24px; /* Desired height */
  background-image: url('../images/bullet.png'); /* Image URL */
  background-repeat: no-repeat; /* Prevent repeating of the image */
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #6FF34D;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #6FF34D;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #6FF34D;
  color: #6FF34D;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 1px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 1;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

.github-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../images/github-icon.png") 0 0 no-repeat;
  /* Additional styles to ensure proper display */
  margin: 0;
  padding: 0;
  float: none;
  border: none;
  box-shadow: none;
  background-size: contain; /* Adjusts the icon size to fit the container */
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #0034ED;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 50, 237, 0.5);
}

a::after {
  content: url('../images/external-link.png');
  display: inline-block;
  margin-left: 5px; /* Adjust the spacing between the link text and the SVG if needed */
  vertical-align: middle; /* Adjusts the vertical alignment of the SVG */
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

#a-title {
  text-decoration: none;
}

.title-section #a-title::after {
  content: none;
}